001-Paper.aux
001-Paper.bbl
001-Paper.blg
001-Paper.log
001-Paper.out
001-Paper.pdf
001-Paper.spl
003-Bullet_Points.aux
003-Bullet_Points.bbl
003-Bullet_Points.blg
003-Bullet_Points.log
003-Bullet_Points.out
003-Bullet_Points.pdf
003-Bullet_Points.spl
makeLocationFig/
makeLocationFig2/
makeLocationFig3/
Marcus.txt
software/
texput.log
