003-RAMRA_Paper.aux
003-RAMRA_Paper.bbl
003-RAMRA_Paper.blg
003-RAMRA_Paper.log
003-RAMRA_Paper.out
003-RAMRA_Paper.pdf
003-RAMRA_Paper.spl
makeLocationFig/
makeLocationFig2/
makeLocationFig3/
Marcus.txt
software/
texput.log
Figures/

